/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* noinspection CssUnknownTarget */
  background: url('/img/dragon.jpeg') no-repeat bottom / cover;
  color: white;
}

@media (min-width: 800px) {
  .heroBanner {
    /* noinspection CssUnknownTarget */
    background: url('/img/dragon@2x.jpeg') no-repeat bottom / cover;
  }
}

@media (min-width: 1200px) {
  .heroBanner {
    /* noinspection CssUnknownTarget */
    background: url('/img/dragon@3x.jpeg') no-repeat bottom / cover;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
