/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroAppIcon {
  width: 60px;
  height: 60px;
}

.heroBg {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.heroTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle span {
  display: block;
  margin-left: 1rem;
}

.heroContent {
  position: relative;
  z-index: 2;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* noinspection CssUnknownTarget */
  background: url('/img/dragon.jpeg') no-repeat bottom / cover;
  color: white;
}

@media (min-width: 997px) {
  .heroBanner {
    /* noinspection CssUnknownTarget */
    background: url('/img/dragon@2x.jpeg') no-repeat bottom / cover;
  }
}

@media (min-width: 1200px) {
  .heroBanner {
    /* noinspection CssUnknownTarget */
    background: url('/img/dragon@3x.jpeg') no-repeat bottom / cover;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml4 {
  margin-left: 1rem;
}